{% extends './SupervisorNavBar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<style>
    tr.appRow{
        background-color: #f0f0f0;
        border-radius: 100px;
        box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .noApps{
        background-color: #f0f0f0;
    }
    .hero {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
{% if total_apps == 0 %}
<body id="noApps" class="noApps">
  <div class="text-center">
      <div class="row">
          <div class="col-md-12">
              <img src="{% static 'imgs/nothing.png' %}" alt="Image Description" class="image-style" id="image1">
              <h5>We couldn't find any internship applications associated with your profile :/</h5>
          </div>
      </div>
  </div>
</body> 
{% else %}
<section id="hero" class="hero">
    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'imgs/Company-pana.png' %}" alt="Image Description" width="600" height="400" class="image-style" id="image1">
            </div>
        </div>
    </div>
  </section>
<div class="container pt-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Applications List <span class="text-muted fw-normal ms-2">({{total_apps}})</span></h5>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Student Card Number</th>
                                <th scope="col">Diplome</th>
                                <th scope="col" style="width: 50px;"></th>
                                <th scope="col" style="width: 50px;">Action</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in appslist %}
                            <tr class="appRow">
                                <td><a type="button" class="bi bi-three-dots" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Application Details</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <div class="row mt-2">
                                                <div class="col-md-6"><h6 class="mb-0">Name :</h6> {{i.applicant}}</div>
                                                <div class="col-md-6"><label class="labels">Surname :</label> Last name</div>
                                            </div>
                                            <div class="row mt-3">
                                                <hr class="mx-n3">
                                                <div class="col-md-12"><label class="labels">Supervisor Name :</label>  {{i.sprvisorName}}</div>
                                                <hr class="mx-n3">
                                                <div class="col-md-12"><label class="labels">Email address :</label>  {{i.sprvisorEmail}}</div>
                                                <hr class="mx-n3">
                                                <div class="col-md-12"><label class="labels">Phone number :</label>  {{i.sprvisorTel}}</div>
                                                <hr class="mx-n3">
                                                <div class="col-md-12"><label class="labels">Fax :</label>  {{i.sprvisorFax}}</div>
                                                <div class="col-md-12"><label class="labels">Company name :</label>  {{i.companyName}}</div></div>
                                            <div class="row mt-3">
                                                <div class="col-md-6"><label class="labels">Internship starting date:</label><br>{{i.strtDate}}</div>
                                                <div class="col-md-6"><label class="labels">Ending date:</label><br>{{i.endDate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="{% url 'ApprovedByAdmin' i.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-success">Confirm</button></form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- End Modal -->
                                    <!--<a type="button" class="bi bi-three-dots" data-mdb-toggle="modal" data-mdb-target="#exampleModal" title="Details"></a>-->
                                </td>
                                <td><a href="#" class="text-body">{{i.applicant}}</a></td>
                                <td>{{i.studentdep}}</td>
                                <td>{{i.studentCard}}</td>
                                <td>{{i.prepDeplome}}</td>
                                {% if i.approvedBySupervisor == True %}
                                <td>
                                    <form action="{% url 'StudentRating' i.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-outline-success">Rate</button></form>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Attend">
                                        Take Presence
                                      </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="Attend" tabindex="-1" aria-labelledby="AttendLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="AttendLabel">Confirmation Message</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'InternIsNotpresent' i.id %}" method="POST">
                                                {% csrf_token %}
                                                <form action="{% url 'InternIspresent' i.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
                                                            <label for="example">The day:</label>
                                                            <input data-provide="datepicker" placeholder="Select date" name="internshipDay" type="text" id="example" class="form-control" data-date-format="yyyy-mm-dd">
                                                            <i class="fas fa-calendar input-prefix"></i>
                                                          </div></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                        <label for="Totalworkinghours">Total working hours:</label>
                                                        <input type="number" class="form-control" id="Totalworkinghours" placeholder="Hours" name="workingHours" min="0" max="8">
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Observation:</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Text.." name="observation"></textarea>
                                                      </div>
                                                    <div class="d-flex align-items-center">
                                                        <span>Was the intern..?</span>
                                                        <button type="submit" class="btn btn-success ms-2 me-3">Present</button>
                                                </form>
                                                <button type="submit" class="btn btn-danger">Absent</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <!-- End Modal -->
                                </td>
                                    {% if i.rated == True %}
                                <td>
                                    <form action="{% url 'Certificate' i.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-success">Print Certificate</button></form>
                                </td>{% else %}
                                <td>
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#viewMarks">View Presence</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="viewMarks" tabindex="-1" aria-labelledby="viewMarksLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-scrollable">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="viewMarksLabel">Student Presence</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <div>
                                                  <table>
                                                    <thead>
                                                    <tr>
                                                      <th scope="col" style="width: 170px;">The Day</th>
                                                      <th scope="col" style="width: 100px;">Working Hours</th>
                                                      <th scope="col" style="width: 70px;">Presence</th>
                                                      <th scope="col" style="width: 200px;">Observation</th>
                                                    </tr></thead>
                                                    <tbody>
                                                    {% for i in attendence %}
                                                    <tr>
                                                      <td>{{i.internshipDay}}</td>
                                                      <td><span class="ms-3">{{i.workingHours}}</span></td>
                                                      <td> 
                                                        {% if i.isPresent == True %}<span id="boot-icon" class="bi bi-check ms-3" style="font-size: 30px; color: rgb(98, 203, 105); -webkit-text-stroke-width: 1.5px; opacity: 0.9;"></span>
                                                        {% elif i.isPresent == False %}<span id="boot-icon" class="bi bi-x ms-3" style="font-size: 30px; color: rgb(207, 60, 60); -webkit-text-stroke-width: 1.5px; opacity: 0.9;"></span>
                                                        {% endif %}
                                                        </td>
                                                      <td>{{i.observation}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                  </table>
                                                </div></div>
                                               <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
                                            </div>
                                           </div>
                                          </div>
                                      </div>
                                  <!-- End Modal -->
                                </td>
                                {% endif %}
                                {% else %}
                                <td>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">
                                        Approve
                                      </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="myModalLabel">Confirmation Message</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                         You sure!                                       
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <form action="{% url 'ApprovedBySupervisor' i.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-success">Confirm</button></form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <!-- End Modal -->
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Decline">
                                        Decline
                                      </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="Decline" tabindex="-1" aria-labelledby="DeclineLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="DeclineLabel">Confirmation Message</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <form action="{% url 'DeclinedBySupervisor' i.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4">
                                            <label class="mb-2">Tell applicant what to modify:</label>
                                            <textarea class="form-control" name="RejectionReason" rows="5" placeholder="Write the rejection reason.." required></textarea>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Send Reason</button></form>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            <!-- End Modal -->
                                </td>
                                <td>
                                    <form action="{% url 'DefinitelyRejectBySupervisor' i.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Definitely reject</button></form>
                             </td>{% endif %}
                            </tr>
                            {% endfor %}{% endif %}
{% endblock %}
