{% extends './navbar.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<link href="{% static '/js/main.js' %}" type="text/css" rel="stylesheet" >

<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Streamline Your Internship Application Process!</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Join our vast community on the #1 choice for students across the country.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
                <a href="{% url 'Signup'%}" class="button btn btn-dark mt-4 px-5 rounded-pill">Get started!<i class="bi bi-arrow-right"></i></a>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'imgs/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

<!-- ======= Values Section ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Values</h2>
        <p>The value that holds us true and into account</p>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/values-1.png" class="img-fluid" alt="">
            <h3>Simplicity</h3>
            <p>Things being made beautiful simple are the heart of everything we do.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/values-2.png" class="img-fluid" alt="">
            <h3>Social Good</h3>
            <p>We believe in making things better for everyone,even if just by a little bit!</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Trust</h3>
            <p>We work on the basis of creating trust which can be nutured through authenticity and transoarency.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

   <!-- ======= F.A.Q Section ======= -->
   <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  What is the process for applying for an internship opportunity on this website?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Once you find an internship listing that interests you, Look for an "Apply Now" button. or look for an "Create internship application" button on your home page Clicking on it will usually redirect you to an application form or provide instructions on how to apply. Follow the provided guidelines to submit your application
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  How can I track the status of my internship applications?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Our website provides an application section where you can track the status of your internship applications on all your applications list. This allows you to view which internships you've applied for and their corresponding statuses, such as "Waiting" or "Accepted/Rejected".
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  How do I contact the internship website's support or customer service?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  If you have any questions or need assistance with the internship website, look for a "Contact Us," on the Home page. There, you will find information on how to reach out to the website's support team, such as through email, phone, or an online contact form. Follow the provided instructions to get in touch with the support or customer service team.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  How do I create an account on the internship website?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  To create an account, navigate to our website's homepage and look for a "Get started" or "Register" button. Click on it and provide the required information, such as your name, email address, and password. Follow the instructions to complete the registration process.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  Is there a cost or fee associated with using the internship website?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  No, this website is completely funded and available for free to all students nationwide
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  How do I update my profile or resume on the internship website?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Our website has a user profile section where you can edit your personal information and manage other profile-related settings. Look for a "My Profile"  option in your accountmenu or user navbar to access and make changes to your profile.
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->

      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-6">
  
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>Ali mendjli,<br>Constantine, Algeria</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+213 7 82 15 46 22<br>+213 22 16 11 44</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>ali.sahnoun@univ-constantine2.dz<br>elearning@univ-constantine2.dz</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Availibility</h3>
                    <p>Everyday<br>9:00AM - 05:00PM</p><br>
                  </div>
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <form action="{% url 'contact_us' %}" method="post" class="php-email-form">
                {% csrf_token %}
                <div class="row gy-4">
                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                        <button type="submit">Send Message</button>
                    </div>
                </div>
            </form>
            
  
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Contact Section -->
    
{% endblock %}


