{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static '/css/main.css' %}" type="text/css" rel="stylesheet" >
        <title>InternFlow</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
      <body>
            <section class="mh-100" style="background-color: #00C785;">
                <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-9">
            
                    <h1 class="text-white mb-4">Apply for an internship</h1>
            
                    <div class="card" style="border-radius: 15px;">
                       <div class="card-body">
                            <div class="form-group">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <!-- Student Info -->
                                    <section class="infoFields">
                                    <b><legend><span class="title-number">1</span>Student Personal info :</legend></b>
                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Full name</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.applicant}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Department</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.studentdep}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Student Card Number</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.studentCard}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Social Security Number</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.studentSnum}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Phone Number</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.studenTel}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Study level</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.prepDeplome}}
                                        </div>
                                    </div></section>

                                    <!-- Supervisor Info -->
                                    <hr class="mx-n3">
                                  <section class="infoFields">
                                    <b><legend><span class="title-number">2</span>Supervisor info :</legend></b>
                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Full name</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.sprvisorName}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Email address</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.sprvisorEmail}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Phone number</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.sprvisorTel}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Fax</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.sprvisorFax}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Company name</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.companyName}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Company address</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.companyAdrss}}
                                        </div>
                                    </div></section>
                                    
                                    <!-- internship Info -->
                                    <hr class="mx-n3">
                                    <section class="infoFields">
                                    <b><legend><span class="title-number">3</span>Internship info :</legend></b>
                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Theme</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.theme}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Full period</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.duree}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Starting Date</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.strtDate}}
                                        </div>
                                    </div>

                                    <div class="row align-items-center pt-4 pb-3">
                                        <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Ending Date</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                        {{form.endDate}}
                                        </div>
                                    </div> 
                                   </section>

                                    <hr class="mx-n3">
                                    <div class="col-md-auto mx-auto text-center">
                                        <button type="submit" class="btn btn-success mt-3 mb-3 px-lg-4 rounded-pill">
                                          Submit
                                        </button><a href="../" class="btn btn-outline-success ms-5 mt-3 mb-3 px-lg-4 rounded-pill">Cancel</a></div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
            
                    </div>
                </div>
                </div>
            </section>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        </body>
        </html>
     <!--
                                        <div class="row align-items-center py-3">
                                        <div class="col-md-3 ps-5">
                        
                                        <h6 class="mb-0">Upload CV</h6>
                                        </div>
                                        <div class="col-md-9 pe-5">
                                                <input class="form-control form-control-lg" id="formFileLg" type="file" />
                                        <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file
                                            size 50 MB</div> -->