{% extends './StudentNavBar.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}
<style>
  body {
      background-image: url('{% static "imgs/internship.jpeg" %}');
      background-size: cover;
  }

  .coloring{
    color: whitesmoke;
  }
  .hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
</style>
<section id="hero" class="hero">
  <div class="container text-center">
      <div class="row">
          <div class="col-md-12">
              <h1 class="coloring">Welcome, <span style="color: hsla(157, 74%, 43%, 0.993);">{{ request.user }}</span></h1>
              <h5 class="fw-normal coloring">At your favorite place to track your internship process</h5>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12">
              <a href="{% url 'internappform' %}" class="btn btn-outline-success rounded-pill px-4 pt-2 pb-2"><b>Create internship application</b></a>
          </div>
      </div>
  </div>
</section>

{% endblock %}